h1{
    color: brown;
}
img{
  width: 400px;  
}
#thirdDiv{
height: 600px;
width: 400;
background-color: blue;
padding: 50px;
border: 5px solid black;
}

#spanid{
    font-size: 18px;
    margin: 50px;
}